* {
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
}

.todo-app {
  width: 600px;
  margin: 1rem auto;
}

.app-header {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  margin: 0 1rem;
}

.app-header p {
  font-size: 1.5rem;
}

.app-header button {
  height: 2.5rem;
  border-radius: 2.5rem;
  font-size: 1.4rem;
  padding: 0 1rem;
  margin: 0.5rem 0;
}

ul {
  list-style: none;
}

.todo-item {
  display: flex;
  padding: 1rem;
  font-size: 2rem;
  margin: 2px;
  border-radius: 2.5rem;
  border: 1px solid rgb(0, 0, 0);
}

li {
  overflow: hidden;
  width: 83%;
}

li.done {
  text-decoration-line: line-through;
  color: rgba(0, 0, 0, 0.253);
}

li.in-progres {
  color: blue;
}

.todo-item button {
  float: right;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  margin-left: 1em;
}

.add-todo {
  display: flex;
  height: 2.5rem;
  justify-content: space-between;
  padding: 1rem;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 2.5rem;
}

.add-todo button {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
}

.add-todo input {
  padding-left: 1rem;
  border-radius: 1.5rem;
  width: 86%;
  font-size: 1.4rem;
}

.search {
  display: flex;
  height: 2.5rem;
  justify-content: space-between;
  padding: 1rem;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 2.5rem;
}

.search input {
  padding-left: 1rem;
  border-radius: 1.5rem;
  width: 67%;
  font-size: 1.4rem;
}

.search button {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  margin-left: 1em;
}

.search button.active {
  border: 2px solid blue;
  color: blue;
}

.auth button {
  text-align: center;
  font-size: medium;
  width: 50%;
  height: 2rem;
  border-radius: 1rem;
}

.auth button:hover {
  background-color: rgb(119, 119, 119);
}

.auth input {
  width: 47%;
  height: 1rem;
  padding: 0.5rem;
  border-radius: 1rem;
}

.register input,
.register button,
.login button,
.login input {
  display: block;
  margin: 1rem auto;
}

@media screen and (orientation: portrait) {
  .todo-app {
    width: 100%;
  }
  .auth button {
    height: 3rem;
    border-radius: 1.5rem;
  }
  .auth input {
    box-sizing: border-box;
    width: 100%;
    height: 3rem;
    border-radius: 1.5rem;
  }
  .search input {
    width: 47%;
  }
  .todo-item button {
    width: 2.9rem;
  }
  .add-todo input {
    width: 80%;
  }
}
